<div class="accordion-section">
  <div class="section-title">
    <h3>FAQ</h3>
  </div>
  <div class="accordion-holder">
    <div class="accordion" id="accordionGroup" role="tablist" aria-multiselectable="true">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h4 class="card-title">
            <a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Kapan Jadwal Pelayanan Puskesmas Tambakaji?
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionGroup">
          <div class="card-body">
            Puskesmas Tambakaji memberikan layanan kesehatan optimal dengan jadwal pelayanan Senin-Kamis (07.00-17.00), Jumat (07.00-15.00), 
            dan Sabtu (07.00-12.00), sehingga memastikan akses mudah bagi masyarakat yang memerlukan perawatan atau konsultasi medis.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
          <h4 class="card-title">
            <a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
              Kapan Jadwal Pelayanan Imunisasi?
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordionGroup">
          <div class="card-body">
            Puskesmas Tambakaji menyelenggarakan imunisasi BCG, Campak 9 bulan, dan Campak 2 tahun pada hari Senin minggu ke-2 dan ke-3 setiap bulan, 
            sementara imunisasi DPT HB HIB, HB O, IPV, POLIO, PCV, dan ROTAVIRUS tersedia setiap hari Senin hingga Sabtu mulai jam 07.00 - 12.00, 
            dengan syarat membawa buku KIA dan Identitas Anak
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingThree">
          <h4 class="card-title">
            <a class="collapsed" role="button" data-toggle="collapse" href="#collapseThree"
              aria-expanded="false" aria-controls="collapseThree">
              Dimana saya bisa mendapatkan pelayanan UHC?
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordionGroup">
          <div class="card-body">
            Puskesmas Tambakaji menyediakan layanan kesehatan dalam kerangka Universal Health Coverage (UHC) dengan jam pelayanan pada hari Senin-Kamis dari pukul 07.00 hingga 12.00, dan pada hari Jumat-Sabtu dari pukul 07.00 hingga 12.00. 
            Untuk mendapatkan layanan, masyarakat diundang untuk datang langsung ke Puskesmas Tambakaji. Informasi lebih lanjut dapat diperoleh dengan menghubungi kami melalui nomor telepon 085600407550 atau 08122771142.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>